{{> head }}
{{> navbar }}

<div class="row">

<div class="col-8"> 
      <h1> capitan america</h1>
    <p>
        Hallo , Mein name ist Stever Rogers aber die leute erzählten mir Kapitän Amerika
    </p>
    </div>


    
    <div class="col-4">
        <img src="assets/img/Captain.png" class="img-thumbnail">

    </div>

</div>

    {{> footer }}